<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <title>
      {% block page_title %}Jardist{% endblock page_title %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %} {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static 'jardist/css/select2.min.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'jardist/css/select2-bootstrap-5-theme.min.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'jardist/css/styles.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css" />
  </head>
  <body>
    <div class="container-fluid wrapper">
      <header class="header mb-3">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#drawer" aria-controls="drawer">
          <i class="fas fa-bars"></i>
        </button>
        <h1>{% block title %}Base Title{% endblock %}</h1>
      </header>
      <main class="content-wrapper">
        {% block content %}
          Base Content
        {% endblock content %}
        <button id="backToTopBtn" style="display: none; position: fixed; bottom: 20px; right: 20px; z-index: 100;" class="btn btn-secondary">
          <i class="fas fa-arrow-up"></i>
        </button>
      </main>
      <div class="toast-container">
        {% for message in messages %}
          <div class="toast {{ message.tags }}"
               role="alert"
               aria-live="assertive"
               aria-atomic="true"
               data-bs-autohide="true">
            <div class="toast-body position-relative">
              {{ message }}
              <button type="button"
                      class="btn-close position-absolute top-0 end-0 m-2"
                      data-bs-dismiss="toast"
                      aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <aside class="offcanvas offcanvas-start" tabindex="-1" id="drawer" aria-labelledby="drawerLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="drawerLabel">JARDIST MENU</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <nav class="offcanvas-body d-flex flex-column justify-content-between h-75 px-2">
        <div class="accordion" id="menuAccordion">
          {% for item in NAV_ITEMS %}
            {% if item.name != "HOME" %}
              {% if item.sub_items %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                    <button class="accordion-button {% if not item.open_accordion %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="{% if item.open_accordion %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                      {{ item.name }}
                    </button>
                  </h2>
                  <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if item.open_accordion %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#menuAccordion">
                    <div class="accordion-body">
                      <div class="d-grid gap-2">
                        {% for sub_item in item.sub_items %}
                          <button class="btn {% if sub_item.is_active %}btn-primary{% else %}btn-outline-primary{% endif %}" type="button" data-bs-dismiss="offcanvas" onclick="location.href='{% url sub_item.url %}'">{{ sub_item.name }}</button>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if request.path != '/' %}
            <button class="btn btn-outline-primary mb-2 w-100 mt-3" type="button" data-bs-dismiss="offcanvas" onclick="location.href='{% url 'list_pk' %}'">Kembali ke List PK</button>
          {% endif %}
        </div>
        {% if user.is_authenticated %}
          <div class="d-grid gap-2 mt-5">
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#logoutModal">
              Logout
            </button>
          </div>
        {% endif %}
      </nav>
    </aside>

    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Konfirmasi Logout</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Apakah Anda yakin ingin logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="{% static 'jardist/js/select2.min.js' %}"></script>
    <script src="{% static 'jardist/js/scripts.js' %}"></script>
  {% endblock scripts %}
</html>