<form method="post" class="form-page__content__form" id="pk-form">
  {% csrf_token %}
  <div class="row mb-3">
    <label for="{{ form.spk.id_for_label }}">{{ form.spk.label }}</label>
    <div class="input-group">
      {{ form.spk }}
    </div>
    {% for error in form.spk.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="row mb-3">
    <label for="{{ form.pk_number.id_for_label }}">{{ form.pk_number.label }}</label>
    <div class="input-group">
      {{ form.pk_number }}
    </div>
    {% for error in form.pk_number.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="form-group col-md-6 mb-3">
      <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
      {{ form.start_date }}
      {% for error in form.start_date.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="{{ form.execution_time.id_for_label }}">{{ form.execution_time.label }}</label>
      {{ form.execution_time }}
      {% for error in form.execution_time.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 mb-3">
      <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
      {{ form.end_date }}
      {% for error in form.end_date.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group col-md-6 mb-3">
      <label for="{{ form.maintenance_time.id_for_label }}">{{ form.maintenance_time.label }}</label>
      {{ form.maintenance_time }}
      {% for error in form.maintenance_time.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    {% if form.instance.pk %}
      Simpan Perubahan
    {% else %}
      Simpan & Register Pekerjaan
    {% endif %}
  </button>
</form>