{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Create PK{% endblock page_title %}
{% block title %}BUAT PK BARU{% endblock %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      {% include "forms/pk_form.html" %}
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const spkChoiceField = document.getElementById('spk');
      const startDateField = document.getElementById('start_date');
      const executionTimeField = document.getElementById('execution_time');
      const endDateField = document.getElementById('end_date');
      const maintenanceTimeField = document.getElementById('maintenance_time');

      const pkNumberField = document.getElementById('pk_number');
      const otherFields = [
        pkNumberField,
        document.getElementById('start_date'),
        document.getElementById('end_date'),
        document.getElementById('execution_time'),
        document.getElementById('maintenance_time'),
      ];

      const form = document.getElementById('pk-form');

      form.addEventListener('submit', function(event) {
        otherFields.forEach(function(field) {
          if (field.disabled) {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = field.name;
            hiddenInput.value = field.value;
            form.appendChild(hiddenInput);
          }
        });
      });

      otherFields.forEach(function(field) {
        field.disabled = true;
        field.style.cursor = 'not-allowed';
      });

      if (spkChoiceField.value) {
        otherFields.forEach(function(field) {
          if (field !== endDateField) {
            field.disabled = false;
            field.style.cursor = 'auto';
          }
        });
      }

      const urlParams = new URLSearchParams(window.location.search);
      const spkId = urlParams.get('spk_id');

      if (spkId) {
        fetch(`/pk/check_pk_in_spk/${spkId}/`)
          .then(response => response.json())
          .then(data => {
            if (data.is_without_pk) {
              pkNumberField.readOnly = true;
              pkNumberField.style.cursor = 'not-allowed';
            }
          });
      }

      let formSubmitted = false;

      form.addEventListener('submit', function(event) {
        formSubmitted = true;
      });

      spkChoiceField.addEventListener('change', function() {
        if (!formSubmitted) {
            if (spkChoiceField.value) {
              otherFields.forEach(function(field) {
                if (field !== endDateField) {
                  field.disabled = false;
                  field.style.cursor = 'auto';
                }
              });
  
              fetch(`/pk/check_pk_in_spk/${spkChoiceField.value}/`)
                  .then(response => response.json())
                  .then(data => {
                      if (data.is_without_pk) {
                          pkNumberField.readOnly = true;
                          pkNumberField.style.cursor = 'not-allowed';

                          pkNumberField.value = data.spk;
                          startDateField.value = data.start_date;
                          executionTimeField.value = data.execution_time;
                          maintenanceTimeField.value = data.maintenance_time;
                          updateEndDate();
                      } else {
                          pkNumberField.value = '';
                          executionTimeField.value = '';
                          maintenanceTimeField.value = '';
                      }
                  });
          } else {
              otherFields.forEach(function(field) {
                if (field !== endDateField) {
                  field.disabled = true;
                  field.value = '';
                  field.style.cursor = 'not-allowed';
                }
              });
          }
        }
      });
    
      endDateField.readOnly = true;
      endDateField.style.cursor = 'not-allowed';
    
      const updateEndDate = () => {
        const startDate = new Date(startDateField.value);
        const executionTime = Number(executionTimeField.value);
        const endDate = new Date(startDate.getTime() + executionTime * 24 * 60 * 60 * 1000);
        endDateField.value = endDate.toISOString().split('T')[0];
      };
    
      startDateField.addEventListener('change', updateEndDate);
      executionTimeField.addEventListener('change', updateEndDate);
    
      if (!startDateField.value) {
        const today = new Date();
        startDateField.value = today.toISOString().split('T')[0];
        executionTimeField.value = null;
        updateEndDate();
      }
          
      executionTimeField.addEventListener('input', () => {
        if (executionTimeField.value < 0) executionTimeField.value = 0;
      });
      
      maintenanceTimeField.addEventListener('input', () => {
        if (maintenanceTimeField.value < 0) maintenanceTimeField.value = 0;
      });

      executionTimeField.addEventListener('keypress', (event) => {
        const charCode = (event.which) ? event.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          event.preventDefault();
        }
      });
      
      maintenanceTimeField.addEventListener('keypress', (event) => {
        const charCode = (event.which) ? event.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          event.preventDefault();
        }
      });
    });
  </script>
{% endblock scripts %}