{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Create Pekerjaan{% endblock page_title %}
{% block title %}BUAT PEKERJAAN BARU{% endblock title %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      {% include "forms/task_form.html" %}
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('task-form');
        const fieldsToDisable = ['execution_time'];
        const fieldsToUpdate = ['pk_instance'];

        fieldsToDisable.forEach(fieldId => {
            const field = document.getElementById(fieldId);
            field.disabled = true;
            field.style.cursor = 'not-allowed';

            form.addEventListener('submit', function(event) {
                if (field.disabled) {
                    const hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = field.name;
                    hiddenInput.value = field.value;
                    form.appendChild(hiddenInput);
                }
            });
        });

        fieldsToUpdate.forEach(fieldId => {
            const field = document.getElementById(fieldId);
            field.addEventListener('change', function() {
                const selectedValue = field.value;

                if (selectedValue) {
                    fetch(`{% url 'get_pk_data' %}?pk_id=${selectedValue}&field=execution_time`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('execution_time').value = data.execution_time;
                        });
                } else {
                    document.getElementById('execution_time').value = '';
                }
            });
        });

        const isWithTemplateCheckbox = document.getElementById('{{ form.is_with_template.id_for_label }}');
        const rabInput = document.getElementById('{{ form.rab.id_for_label }}');
    
        function toggleRabDisabled() {
          rabInput.disabled = isWithTemplateCheckbox.checked;
          rabInput.style.cursor = isWithTemplateCheckbox.checked ? 'not-allowed' : 'auto';
        }
    
        isWithTemplateCheckbox.addEventListener('change', toggleRabDisabled);
    
        toggleRabDisabled();
    });
  </script>
{% endblock scripts %}