{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Create PK{% endblock page_title %}
{% block title %}BUAT PK BARU{% endblock %}

{% block content %}
  <section class="create-pk-page">
    <div class="create-pk-page__content">
      <form method="post" class="create-pk-page__content__form">
        {% csrf_token %}
        <div class="row mb-3">
          <label for="{{ form.spk.id_for_label }}">{{ form.spk.label }}</label>
          <div class="input-group">
            {{ form.spk }}
          </div>
          {% for error in form.spk.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="row mb-3">
          <label for="{{ form.pk_number.id_for_label }}">{{ form.pk_number.label }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">PK-</span>
            </div>
            {{ form.pk_number }}
          </div>
          {% for error in form.pk_number.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
            {{ form.start_date }}
            {% for error in form.start_date.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.execution_time.id_for_label }}">{{ form.execution_time.label }}</label>
            {{ form.execution_time }}
            {% for error in form.execution_time.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
            {{ form.end_date }}
            {% for error in form.end_date.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.maintenance_time.id_for_label }}">{{ form.maintenance_time.label }}</label>
            {{ form.maintenance_time }}
            {% for error in form.maintenance_time.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Simpan & Register Pekerjaan</button>
      </form>
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const spkChoiceField = document.getElementById('spk');
      const startDateField = document.getElementById('start_date');
      const executionTimeField = document.getElementById('execution_time');
      const endDateField = document.getElementById('end_date');
      const maintenanceTimeField = document.getElementById('maintenance_time');

      const pkNumberField = document.getElementById('pk_number');
      const pkNumberFieldPrepend = document.querySelector('.input-group-prepend span');
      const otherFields = [
        pkNumberField,
        document.getElementById('start_date'),
        document.getElementById('end_date'),
        document.getElementById('execution_time'),
        document.getElementById('maintenance_time'),
      ];

      otherFields.forEach(function(field) {
        field.readOnly = true;
        field.style.cursor = 'not-allowed';
      });

      if (spkChoiceField.value) {
        otherFields.forEach(function(field) {
          if (field !== endDateField) {
            field.readOnly = false;
            field.style.cursor = 'auto';
          }
        });
      }

      const urlParams = new URLSearchParams(window.location.search);
      const spkId = urlParams.get('spk_id');

      if (spkId) {
        fetch(`/pk/check_pk_in_spk/${spkId}/`)
          .then(response => response.json())
          .then(data => {
            if (data.is_without_pk) {
              pkNumberFieldPrepend.textContent = 'SPK-';
              pkNumberField.readOnly = true;
              pkNumberField.style.cursor = 'not-allowed';
            }
          });
      }


      let formSubmitted = false;

      document.querySelector('.create-pk-page__content__form').addEventListener('submit', function() {
        formSubmitted = true;
      });

      spkChoiceField.addEventListener('change', function() {
        if (!formSubmitted) {
            if (spkChoiceField.value) {
              otherFields.forEach(function(field) {
                if (field !== endDateField) {
                  field.readOnly = false;
                  field.style.cursor = 'auto';
                }
              });
  
              fetch(`/pk/check_pk_in_spk/${spkChoiceField.value}/`)
                  .then(response => response.json())
                  .then(data => {
                      if (data.is_without_pk) {
                          pkNumberFieldPrepend.textContent = 'SPK-';
                          pkNumberField.value = data.spk.split('-')[1];
                          pkNumberField.readOnly = true;
                          pkNumberField.style.cursor = 'not-allowed';

                          startDateField.value = data.start_date;
                          executionTimeField.value = data.execution_time;
                          maintenanceTimeField.value = data.maintenance_time;
                          updateEndDate();
                      } else {
                          pkNumberField.value = '';
                          pkNumberFieldPrepend.textContent = 'PK-';
                          executionTimeField.value = '';
                          maintenanceTimeField.value = '';
                          startDateField.value = '';
                          endDateField.value = '';
                      }
                  });
          } else {
              otherFields.forEach(function(field) {
                if (field !== endDateField) {
                  field.readOnly = true;
                  field.value = '';
                  field.style.cursor = 'not-allowed';
                }
              });
              pkNumberFieldPrepend.textContent = 'PK-';
          }
        }
      });
    
      endDateField.readOnly = true;
      endDateField.style.cursor = 'not-allowed';
    
      const updateEndDate = () => {
        const startDate = new Date(startDateField.value);
        const executionTime = Number(executionTimeField.value);
        const endDate = new Date(startDate.getTime() + executionTime * 24 * 60 * 60 * 1000);
        endDateField.value = endDate.toISOString().split('T')[0];
      };
    
      startDateField.addEventListener('change', updateEndDate);
      executionTimeField.addEventListener('change', updateEndDate);
    
      if (!startDateField.value) {
        const today = new Date();
        startDateField.value = today.toISOString().split('T')[0];
        executionTimeField.value = null;
        updateEndDate();
      }
          
      executionTimeField.addEventListener('input', () => {
        if (executionTimeField.value < 0) executionTimeField.value = 0;
      });
      
      maintenanceTimeField.addEventListener('input', () => {
        if (maintenanceTimeField.value < 0) maintenanceTimeField.value = 0;
      });

      executionTimeField.addEventListener('keypress', (event) => {
        const charCode = (event.which) ? event.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          event.preventDefault();
        }
      });
      
      maintenanceTimeField.addEventListener('keypress', (event) => {
        const charCode = (event.which) ? event.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
          event.preventDefault();
        }
      });
    });
  </script>
{% endblock scripts %}