{% extends "core/base.html" %}
{% load static %}
{% load numbering %}
{% load os %}

{% block page_title %}Update RAB Material{% endblock page_title %}

{% block title %}UPDATE RAB MATERIAL{% endblock title %}

{% block content %}
  <section class="form-page">
    <div class="form-page_content">
      <div class="material-form mt-3">
        <div class="form-actions">
          <button type="button" class="btn btn-primary w-20" data-bs-toggle="modal" data-bs-target="#addMaterialModal">Tambah Material</button>
          <form method="get" class="search-bar">
            <input type="text" name="search" value="{{ request.GET.search }}" placeholder="Cari material berdasarkan nama" class="form-control">
            <button type="submit" class="btn btn-primary">Cari Material</button>
          </form>
        </div>
        <form method="post" class="form-page__content__form" id="rab-task-material-form" action="{% url 'edit_task_material' task.id %}">
          {% csrf_token %}
          {% if not formsets %}
            <div class="alert alert-info">Tidak ada material yang ditemukan</div>
          {% else %}
            {% for sub_task, categories in formsets.items %}
            <div class="sub-task">
              <h4>{{ forloop.counter|int_to_alphabet }}. {{ sub_task.sub_task_type.name }}</h4>
              {% for category, materials in categories.items %}
                <div class="material-group">
                  <h5>{{ forloop.counter|int_to_roman }}. {{ category.name }}</h5>
                  <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th scope="col" width="45%" class="align-middle" rowspan="2" style="padding-left: 10px;">Nama Material</th>
                        <th scope="col" width="10%" class="text-center align-middle" rowspan="2">Satuan</th>
                        <th scope="col" width="30%" class="text-center align-middle" colspan="2">Volume Kontrak Awal</th>
                      </tr>
                      <tr>
                        <th scope="col" width="15%" class="text-center align-middle">Client</th>
                        <th scope="col" width="15%" class="text-center align-middle">Pemborong</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for material, formset in materials %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                          <tr>
                            {{ form.id }}
                            <td class="align-middle" style="padding-left: 10px;">{{ material.name }}</td>
                            <td class="text-center align-middle">{{ material.unit }}</td>
                            <td class="text-center align-middle">{{ form.rab_client_volume }}</td>
                            <td class="text-center align-middle">{{ form.rab_contractor_volume }}</td>
                          </tr>
                        {% endfor %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endfor %}
             </div>
            {% endfor %}
          {% endif %}
          <div class="form-actions">
            <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary">Kembali</a>
            {% if formsets %}
              <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </section>

  <div class="modal fade" id="addMaterialModal" tabindex="-1" role="dialog" aria-labelledby="addMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMaterialModalLabel">Tambah Material</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="add-material-form" action="{% url 'add_rab_material' task.id %}">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="form-group">
                <label for="{{ material_form.subtask.id_for_label }}">{{ material_form.subtask.label }}</label>
                <div class="input-group">
                  {{ material_form.subtask }}
                </div>
                <div id="{{ material_form.subtask.id_for_label }}-error" class="text-danger"></div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-group">
                <label for="{{ material_form.category.id_for_label }}">{{ material_form.category.label }}</label>
                <div class="input-group">
                  {{ material_form.category }}
                </div>
                <div id="{{ material_form.category.id_for_label }}-error" class="text-danger"></div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.name.id_for_label }}">{{ material_form.name.label }}</label>
                <div class="input-group">
                  {{ material_form.name }}
                </div>
                <div id="{{ material_form.name.id_for_label }}-error" class="text-danger"></div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.unit.id_for_label }}">{{ material_form.unit.label }}</label>
                <div class="input-group">
                  {{ material_form.unit }}
                </div>
                <div id="{{ material_form.unit.id_for_label }}-error" class="text-danger"></div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.material_price.id_for_label }}">{{ material_form.material_price.label }}</label>
                <div class="input-group">
                  {{ material_form.material_price }}
                </div>
                <div id="{{ material_form.material_price.id_for_label }}-error" class="text-danger"></div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.labor_price.id_for_label }}">{{ material_form.labor_price.label }}</label>
                <div class="input-group">
                  {{ material_form.labor_price }}
                </div>
                <div id="{{ material_form.labor_price.id_for_label }}-error" class="text-danger"></div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.rab_client_volume.id_for_label }}">{{ material_form.rab_client_volume.label }}</label>
                <div class="input-group">
                  {{ material_form.rab_client_volume }}
                </div>
                <div id="{{ material_form.rab_client_volume.id_for_label }}-error" class="text-danger"></div>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label for="{{ material_form.rab_contractor_volume.id_for_label }}">{{ material_form.rab_contractor_volume.label }}</label>
                <div class="input-group">
                  {{ material_form.rab_contractor_volume }}
                </div>
                <div id="{{ material_form.rab_contractor_volume.id_for_label }}-error" class="text-danger"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <button type="submit" form="add-material-form" class="btn btn-primary" value="add_rab_material">Tambah Material</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('add-material-form');
      const modalElement = document.getElementById('addMaterialModal');
      const modal = new bootstrap.Modal(modalElement);
  
      form.addEventListener('submit', function(e) {
          e.preventDefault();
          const formData = new FormData(form);
          fetch(form.action, {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.error) {
                  const form_errors = JSON.parse(data.form_errors);
                  Object.keys(form_errors).forEach(field => {
                      const error = form_errors[field][0].message;
                      if (error){
                        const errorElement = document.getElementById(field + '-error');
                        errorElement.textContent = error;
                      }
                  });
                  modal.show();
              } else {
                  modal.hide();
                  location.reload();
              }
          }).catch(error => {
              console.error('Error:', error);
          });
      });

      modalElement.addEventListener('hidden.bs.modal', function () {
        form.reset();
      });
    });
  </script>
{% endblock scripts %}