{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Edit Pekerjaan{% endblock page_title %}
{% block title %}EDIT PEKERJAAN{% endblock %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      {% include "forms/task_form.html" %}
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const pkField = document.getElementById('pk_instance');
        const executionTimeField = document.getElementById('execution_time');
        const form = document.getElementById('task-form');
        
        pkField.setAttribute('disabled', '');
        pkField.style.cursor = 'not-allowed';
        executionTimeField.setAttribute('disabled', '');
        executionTimeField.style.cursor = 'not-allowed';

        let formSubmitted = false;

        form.addEventListener('submit', function(event) {
            formSubmitted = true;
            if (executionTimeField.disabled) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = executionTimeField.name;
                hiddenInput.value = executionTimeField.value;
                form.appendChild(hiddenInput);
            }

            if (pkField.disabled) {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = pkField.name;
                hiddenInput.value = pkField.value;
                form.appendChild(hiddenInput);
            }
        });
    });
  </script>
{% endblock scripts %}