{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Edit Pekerjaan{% endblock page_title %}
{% block title %}EDIT PEKERJAAN{% endblock %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      {% include "forms/task_form.html" %}
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('task-form');
        const fieldsToDisable = ['pk_instance', 'execution_time', 'task_type'];

        fieldsToDisable.forEach(function(fieldId) {
            const field = document.getElementById(fieldId);
            field.setAttribute('disabled', '');
            field.style.cursor = 'not-allowed';

            form.addEventListener('submit', function(event) {
                if (field.disabled) {
                    const hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = field.name;
                    hiddenInput.value = field.value;
                    form.appendChild(hiddenInput);
                }
            });
        });
    });
  </script>
{% endblock scripts %}