{% extends "core/base.html" %}
{% load static %}

{% block page_title %}Edit PK{% endblock page_title %}
{% block title %}EDIT PK {% if pk.spk.is_without_pk %}</br>(SPK Tanpa PK){% else %}{{ pk.pk_number }}{% endif %}{% endblock %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      {% include "forms/pk_form.html" %}
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const form = document.getElementById('pk-form');
      const fieldsToDisable = ['spk', 'end_date'];
      const fieldsToUpdate = ['start_date', 'execution_time'];
      const fieldsToLimit = ['execution_time', 'maintenance_time'];

      let formSubmitted = false;

      const isWithoutPk = {{ pk.spk.is_without_pk|yesno:"true,false" }};
      if (isWithoutPk) {
        const pkField = document.getElementById('pk_number');
        pkField.disabled = true;
        pkField.style.cursor = 'not-allowed';
      }

      fieldsToDisable.forEach(fieldId => {
        const field = document.getElementById(fieldId);
        field.disabled = true;
        field.style.cursor = 'not-allowed';

        form.addEventListener('submit', function(event) {
          formSubmitted = true;
          if (field.disabled) {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = field.name;
            hiddenInput.value = field.value;
            form.appendChild(hiddenInput);
          }

          if (isWithoutPk) {
            const pkField = document.getElementById('pk_number');
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = pkField.name;
            hiddenInput.value = pkField.value;
            form.appendChild(hiddenInput);
          }
        });
      });

      const updateEndDate = () => {
        if (!formSubmitted) {
          const startDate = new Date(document.getElementById('start_date').value);
          const executionTime = Number(document.getElementById('execution_time').value);
          const endDate = new Date(startDate.getTime() + executionTime * 24 * 60 * 60 * 1000);
          document.getElementById('end_date').value = endDate.toISOString().split('T')[0];
        }
      };

      fieldsToUpdate.forEach(fieldId => {
        document.getElementById(fieldId).addEventListener('change', updateEndDate);
      });

      if (!document.getElementById('start_date').value) {
        const today = new Date();
        document.getElementById('start_date').value = today.toISOString().split('T')[0];
        document.getElementById('execution_time').value = null;
        updateEndDate();
      }

      fieldsToLimit.forEach(fieldId => {
        const field = document.getElementById(fieldId);
        field.addEventListener('input', () => {
          if (field.value < 0) field.value = 0;
        });

        field.addEventListener('keypress', (event) => {
          const charCode = (event.which) ? event.which : event.keyCode;
          if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            event.preventDefault();
          }
        });
      });
    });
  </script>
{% endblock scripts %}