{% extends "core/base.html" %}
{% load static %}
{% load numbering %}
{% load os %}

{% block page_title %}Update Realisasi Pekerjaan{% endblock page_title %}

{% block title %}UPDATE REALISASI PEKERJAAN{% endblock title %}

{% block content %}
  <section class="form-page">
    <div class="form-page__content">
      <form method="post" class="form-page__content__form" id="realization-task-form">
        {% csrf_token %}
        <div class="row my-3">
          <label for="{{ form.spk_instance.id_for_label }}">{{ form.spk_instance.label }}</label>
          <div class="input-group">{{ form.spk_instance }}</div>
          {% for error in form.spk_instance.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="row mb-3">
          <label for="{{ form.pk_instance.id_for_label }}">{{ form.pk_instance.label }}</label>
          <div class="input-group">{{ form.pk_instance }}</div>
          {% for error in form.pk_instance.errors %}
            <div class="text-danger">{{ error }}</div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.location.id_for_label }}">{{ form.location.label }}</label>
            {{ form.location }} 
            {% for error in form.location.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.end_date_pk.id_for_label }}">{{ form.end_date_pk.label }}</label>
            {{ form.end_date_pk }} 
            {% for error in form.end_date_pk.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.customer_name.id_for_label }}">{{ form.customer_name.label }}</label>
            {{ form.customer_name }} 
            {% for error in form.customer_name.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.task_type.id_for_label }}">{{ form.task_type.label }}</label>
            {{ form.task_type }} 
            {% for error in form.task_type.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
            {{ form.status }} 
            {% for error in form.status.errors %}
              <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
          <div class="form-group col-md-6 mb-3"></div>
        </div>
        <div class="form-actions flex-column">
          <button type="submit" value="save_realization" class="btn btn-primary">Simpan</button>
          <div class="link-group">
            <a href="#" class="btn btn-secondary">Tambah Dokumentasi</a>
            <a href={% url 'update_realization_material' task.id %} class="btn btn-secondary">Ubah Realisasi Material</a>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('realization-task-form');
      const fieldsToDisable = ['spk_instance', 'pk_instance', 'location', 'end_date_pk', 'customer_name', 'task_type'];

      fieldsToDisable.forEach(function(fieldId) {
        const field = document.getElementById(fieldId);
        field.setAttribute('disabled', '');
        field.style.cursor = 'not-allowed';

        form.addEventListener('submit', function(event) {
          if (field.disabled) {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = field.name;
            hiddenInput.value = field.value;
            form.appendChild(hiddenInput);
          }
        });
      });
    });
  </script>
{% endblock scripts %}